<div class="well" style="text-align: center;width: 500px;margin-top: 250px;margin-left:200px;">
<<<<<<< HEAD
	<h1>Welcome to Edughana!</h1>
	<p>Homepage is in under development</p>
</div>
=======
  <a href="<%= schools_path %>">School</a>
	<h1>Welcome to Edughana!</h1>
	<p>Homepage is in under development</p>
</div>
>>>>>>> school
