<div class="row" style="background-color:red; margin-top:90px; min-height:60px;">
  <div class="col-md-12">
  </div>
</div>

<div class="row" style="margin-top:100px; min-height:60px;">
  <div class="col-md-1">
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-user-plus fa-5x" aria-hidden="true"></i></a>
    <br/>
    Admission
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-users fa-5x" aria-hidden="true"></i></a>
    <br/>
    Student Details
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-files-o fa-5x" aria-hidden="true"></i></a>
    <br/>
    Manage User
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i></a>
    <br/>
    Manage News
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i></a>
    <br/>
    Examinations
  </div>
  <div class="col-md-1" style="margin-top:100px; min-height:60px;">
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-calendar fa-5x" aria-hidden="true"></i></a>
    <br/>
    Time Table
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-hand-o-up fa-5x" aria-hidden="true"></i></a>
    <br/>
    Attendance
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-cogs fa-5x" aria-hidden="true"></i></a>
    <br/>
    Settings
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-cutlery fa-5x" aria-hidden="true"></i></a>
    <br/>
    Canteen
  </div>
  <div class="col-md-2 text-center">
    <a href=""><i class="fa fa-user fa-5x" aria-hidden="true"></i></a>
    <br/>
    Human Resource
  </div>
  <div class="col-md-1">
  </div>
</div>