.body-img {
  background-image: url("/assets/content-bg.gif")
}
.btn-position-style {
  /*float: right;*/
  color: #fff;
  background-color: #6fb3de;
}

.create-btn-position {
  float: right;
  color: #fff;
  background-color: #6fb3de;
}

.fix-position-table {
  margin-top: 100px;
}
.heading-fix {
  margin-top: 25px;
}
.list-view thead tr th {
  background-color: #286090;
  color: #ffffff;
}
.list-view .table-striped > tbody > tr:nth-child(odd) > td,
.list-view .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #d3dfe5;
}

.fix-save-btn {
  float: right;
  margin-top: 15px;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 textarea {
    resize: none;
}

.fix-distance-show-school {
  margin-top: 50px;
}

.navbar {
    margin-bottom: 0px;
}
.navbar-fixed-top {
    border-bottom: 1px solid #646464;
    background-color: #428bca;
}
.navbar-nav > li > a {
    font-size: 16px; font-family: "Titillium Web"; color: rgb( 34, 34, 34 ); text-transform: uppercase; line-height: 1.125;
    padding-bottom: 5px;padding-top: 5px;padding-left: 2px;padding-right: 2px;margin: 30px 25px 30px 25px;

}

.navbar-nav > li > a:hover {
    background-color: transparent; text-decoration: none;  border-bottom: 3px solid white;margin: 30px 25px 25px 25px;
}
.navbar-nav > .active > a {
    border-bottom: 3px solid white;margin: 30px 25px 25px 25px;
}
.btn {
    text-transform: uppercase;
    font-family: "Roboto";
    border-radius: 3px;
}
.navbar-toggle {
    background-color:#ea6060;border: 1px solid #ea6060;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
a:focus {
    outline: none;
}
.shared_links{
  color: white;
  text-decoration: none;
}

.fix-width-header {
  margin-top: 90px !important;
}

.align-center-text {
  text-align: center;
}

.fix-input-filed-center {
  margin-left: 27% !important;
}

.padding-issue-in-new {
  margin-top: -13px;
}

.home-page-spacing{
  margin-top:90px; 
  min-height:60px;
}

.style_prevu_kit
{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
a{
  text-decoration: none !important;
  background-color: transparent;
}

