<div class="container padding-issue-in-new">
  <div class="well" style="width: 100%;margin-top: 100px;height: auto;">
    <h3 class='align-center-text'>Create Student</h3>
    <br>
    <div class="form-group">
      <select id="select-user-type">
        <option value="">Select user type</option>
        <option value="Student">Student</option>
        <option value="others">Other</option>
      </select>
    </div>
    <div id='admission-form'>
    </div>
      
  </div>
</div>
<script type="text/javascript">

$('#select-user-type').on('change', function(){

    var user_type = $('#select-user-type').val();
    $.ajax({
      type: "GET",
      dataType: "script",
      url: "/admissions/fetch_users?user_type="+user_type
    });
});

</script>
